<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
        <div class="spaceship">
            <img class="img-spaceship" src="../../../assets/img/spaceship.png" alt="spaceship image">
            <button mat-raised-button color="primary" (click)="openDialog()">New Message</button>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="img-satellite" src="../../../assets/img/satellite.png" alt="satellite image">
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="img-satellite" src="../../../assets/img/satellite.png" alt="satellite image">
    </mat-grid-tile>
    <mat-grid-tile>
        <img class="img-satellite" src="../../../assets/img/satellite.png" alt="satellite image">
    </mat-grid-tile>
</mat-grid-list>
